@import url(css/bootstrap.css);
@import url(fontawesome/css/all.css);

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*.text-info{*/
    /*color: #0a58ca;*/
/*}*/

/*font style*/
body{
    font-family: 'PT Sans', sans-serif;
}

/*header styles*/

header .bg-light{
    background-color: #4a4a4a !important;

}
header .navbar-light .navbar-nav .nav-link {
    color: #fff!important;
    font-size: 11px;
    letter-spacing: 1px;
}
header .navbar-light .navbar-nav .nav-item{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/*header .navbar-light .navbar-toggler .navbar-toggler-icon{*/
    /*background: #F8F8F8!important;*/
/*}*/

header .navbar-light .navbar-nav .nav-item:hover {
    background: #F8F8F8!important;

}
header .navbar-light .navbar-nav .nav-link:hover {
    color: #6C6C6C!important;
}

header .navbar-light .navbar-nav .nav-link.active{
    /*color: #fff;!important;*/
    color: #bea285!important;
}

header .navbar .navbar-toggler{
    background: #6C6C6C!important;
}

header .navbar .navbar-toggler .toggler-button{
    color: #f7f7f7 !important;
}
