@import url(../css/bootstrap.css);

p{
    margin: 0;
}

#wrapper{
    width: 550px;
    margin: 1rem auto ;
    background-color: #f5f6fa;
    padding: 1.25rem;
}

#wrapper header{
    border-bottom: 1px solid #718093;
}
#wrapper header p{
    text-align: center;
    padding-bottom: 0.2rem;
    font-weight: bold;
}

#wrapper header .free-shipping{
    color: #e74c3c;
    border-bottom: 1px solid #1a1e21;
    letter-spacing: 0.25px;
}

#wrapper header .navbar-brand{
    width:40%;
    margin: auto;
}

#wrapper header #temp-body .shop-now {
    width: 50%;
    color: #1a1e21;

}
#wrapper header .discount{
margin:0;
}
#wrapper header .discount .styles{
    font-size: 1.3rem;
    font-weight:600;
    letter-spacing: 0.1rem;
    color: #6a1a21;
}
#wrapper header .discount .discount-forty {
    font-size: 2rem;

    color: #1a1e21;
}

#wrapper header .discount .shop-sale a{
    font-size: 1.5rem;
    color: #6b6b6b;
    text-decoration: none;
    border-bottom: 0.1rem solid #6b6b6b;
}

#wrapper #temp-body{
    background-color: #c7dcef;
    margin: 0.5rem auto;
    text-align: center;
}

#wrapper #temp-body .shop-now button{
    background-color: #1a1e21;
    color: #f3f2f3;
    border: none;
    padding: 0.6rem;
    
}

#wrapper #temp-body .navbar-brand img{
    padding: 0.5rem;
    width: 10rem;
}

#wrapper #temp-body .theory{
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}